.inex_overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.50);
    z-index:9999;
    color:white;
    display: none;
}
.inex_overlay_loader{
    top: 48%;
    left: 48%;
    position: absolute;
    color: #000000;
}
.pagination{
    display: inline-flex;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.cursor-pointer{
    cursor: pointer;
}

/* Start 2k varinat tool Style by R*/
/* Start Style for the Product Tag by R Dev */
.tags-input-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tags-input-container .tag {
    display: inline-flex;
    align-items: center;
    background-color: #e0e0e0;
    color: #333;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
}

.tags-input-container .tag .remove-tag {
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

.tags-input-container input {
    border: none;
    outline: none;
    flex: 1;
    min-width: 100px;
}
/* End Style for the Product Tag by R Dev */

.tagpro {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 5px;
}

.delete-button {
    /* background-color: #ff0000; */
    color: #ff0000;
    border: none;
    /* padding: 2px 4px; */
    /* border-radius: 50%; */
    cursor: pointer;
}
/* Start Pagination Style by R */
.pagination {
    display: flex;
    list-style-type: none;
    margin: 10px 0;
}

.pagination li {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination li.active {
    font-weight: bold;
    background-color: #0056b3;
}

.pagination li.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
/* End Pagination Style by R */
/* Start 2k varinat tool Style by R*/